body {
    margin: 0;
}
.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.htop {
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.htoplinks {
    display: flex;
    flex-direction: row;
}
.htoplinks .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

}
.hbottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('шаблон 7/images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.htoplogo {
    padding: 30px;
}
.bigtext {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.littletext {
    position: absolute;
    font-size: 38px;
    top: 61%;
    left: 37%
}
a {
    text-decoration: none;
}
p {
    margin-top: 0;
}
.htop1 {
    display: flex;
    justify-content: space-between;
    height: 170px;
}
.htoptext {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.htoptext .htopbigtext {
    display: flex;
    color: #bdbdbd;
    font-size: 50px;
}
.htoptext .htoplittletext {
    color: #bdbdbd;
    font-size: 20px;
}
.bottom{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("шаблон 7/images/slider_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px;
}
.head1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.bottomtext{
    width: 65vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
}