body {
    margin: 0;
}

.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 80px;
}

.head-top-links {
    display: flex;
    flex-direction: row;
}

.head-top-links .link {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.head-top-logo {
    display: flex;
    align-items: center;
}

.head-bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
