#red {
    border-color: red;
    color: red;
}

#blue {
    border-color: blue;
    color: blue;
}

#green {
    border-color: green;
    color: green;
}
#sbm {
    border-color: #735184;
    color: #735184;
}
#orange {
    border-color: #ff9900;
    color: #ff9900;
}
#pink {
    border-color: #ffc0cb;
    color: #ffc0cb;
}