#button_gold{
    color: gold;
}
#button_blue{
    color: turquoise;
}
#button_orange{
    color: orange;
}
.button.blue button{
    background-color: turquoise;
}
.button.gold button{
    background-color: gold;
}
.button.orange button{
    background-color: orange;
}
#gold{
    background-color: gold;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 95px;
    left: 0;
}
#blue{
    background-color: turquoise;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 95px;
    left: 230px;
}
#orange{
    background-color: orange;
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 95px;
    left: 460px;
}
.block.border {
    box-sizing: border-box;
    border: 5px solid rgba(0, 0, 0, 0.56);
    border-radius: 10px;
}
.block.left_border {
    box-sizing: border-box;
    border-left: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
}
.block.right_border{
    box-sizing: border-box;
    border-right: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
}
.block.top_border{
    box-sizing: border-box;
    border-top: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
}
.block.bottom_border{
    box-sizing: border-box;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
}
